<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="material-icons">date_range</i>
            </span>
            <div class="form-line">
                <input id="id_roomusage_daterange_search" type="text" class="form-control ">
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="material-icons">my_location</i>
            </span>
            <select class="form-control" id="id_roomusage_building_search" data-live-search="true">
                <option value="">Load Data...</option>
            </select>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="material-icons">map</i>
            </span>
            <select class="form-control" id="id_roomusage_room_search" data-live-search="true">
                <option value="">Load Data...</option>
            </select>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <select class="form-control" id="id_roomusage_department_search" data-live-search="true">
            <option value="">Load Data...</option>
        </select>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <button class="btn btn-success btn-block waves-effect" id="id_roomusage_search"><b>Filter</b></button>
    </div>
</div>

<div class="row table-responsive responsive">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <table id="id_tbl_room" class="table table-hover table-bordered">
            <thead>
                <th>#</th>
                @* <th>
                    <button class="btn btn-success " onclick="alertExportToAll('excell')">
                        Export to Excell
                    </button>
                    <button class="btn btn-success ">
                        Export to Excell
                    </button>
                </th> *@
                <th>ID</th>
                <th>Title</th>
                <th>Meeting Time</th>
                <th>Room</th>
                <th>Department</th>
                <th>Attendees</th>
                <th>Duration</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
