<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="card mediacard" style="max-height: 280px !important;" >
        <div class="header">
            <h2 onclick="onClickBuildingCard($(this))" data-id="%buildingId%">
                %title_building%
            </h2>
            <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                    <a href="javascript:void(0);" style="z-index:2" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            %Edit/Detail%
                        </li>
                        <li>%Delete%</li>
                        @* <li><a href="javascript:void(0);">Floor/Map</a></li> *@
                    </ul>
                </li>
            </ul>
        </div>
        <div class="media" onclick="onClickBuildingCard($(this))" data-id="%buildingId%">
            <div class="media-left media-middle">
                <a href="javascript:void(0);">
                    <img class="media-object" src="%image_building%" width="125" height="125">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <a tabindex="0" data-trigger="focus" data-html="true" style="padding:2px !important;">%title_building%</a>
                </h4>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <table class="table borderless table-borderless ">
                            <tr class="media-text-thumbnail">
                                <td style="padding:2px !important; border:0px; ">
                                    <i class="material-icons" style="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Location">access_time</i>
                                </td>
                                <td style="padding:2px !important; border:0px; ">
                                    %timezone%
                                </td>
                            </tr>
                            <tr class="media-text-thumbnail">
                                <td style="padding:2px !important; border:0px; ">
                                    <i class="material-icons" style="" data-toggle="tooltip" data-placement="top" title="" data-original-title="People/Attendees Capacity">place</i>
                                </td>
                                <td style="padding:2px !important; border:0px; "><a href="%google_location%">Google Location</a></td>
                            </tr>
                            <tr class="media-text-thumbnail">
                                <td style="padding:2px !important; border:0px; ">
                                    <i class="material-icons" style="" data-toggle="tooltip" data-placement="top" title="" data-original-title="People/Attendees Capacity">streetview</i>
                                </td>
                                <td style="padding:2px !important; border:0px; "><small>%address_location%</small></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row clearfix">
                </div>
            </div>
        </div>
    </div>
</div>