@* @model _1.PAMA.Razor.Views.Pages.Shared._LayoutAdminModel *@
@* @{ } *@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Demo Smart Meeting - @ViewData["PageName"]</title>
    <!-- Favicon-->
    <link rel="icon" href="~/assets/images/icons/media-icon.png" type="image/png" >
    <!-- Bootstrap Core Css -->
    <link href="~/assets/theme/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/theme/plugins/bs-select/select.css">
    <link href="~/assets/theme/plugins/iconfont/material-icons.css" rel="stylesheet">
    <!-- Waves Effect Css -->
    <link href="~/assets/theme/plugins/node-waves/waves.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="~/assets/theme/plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="~/assets/theme/css/style.css" rel="stylesheet">
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/assets/theme/css/themes/all-themes.css" rel="stylesheet" />

    <!-- style section -->
    @await RenderSectionAsync("Styles", required: false)

    <!-- Bootstrap Select Css -->
    <style>
        div.dropdown-menu.open{
            overflow: unset !important;
            z-index: 9999;
        }
        /*.bootstrap-select.form-control.input-group-btn {
        z-index: auto;
        }*/
        .form-control-big{
            font-size: 20px !important;
            font-weight: normal !important;
            height: 48px !important;
            padding-left: 5px !important;
            border: 1px solid #ccc !important;
            border-radius: 5px !important;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.10), 0 2px 10px rgba(0, 0, 0, 0.10) !important;
        }
        .pretend{
            padding-left: 40px !important;
        }
        .input-group-pretend {
            position: absolute !important;
            z-index: 3 !important;
            line-height: 3 !important;
            left: 12px !important;
        }
        .input-group-pretend i {
            font-size: 18px !important;
        }
        .headersitem{
            font-size: 18px;
            font-weight: normal;
            color: gainsboro;
        }
        .activeheaders{
            border-bottom: 2px solid #fff;
        }


        .radiogroup {
            background: #ececec;
            padding: 3px;
            border-radius: 5px;
            position: relative;
        }

        .radiogroup input {
            width: auto;
            height: 100%;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: none;
            cursor: pointer;
            border-radius: 5px;
            padding: 10px 10px;
            background: #ececec;
            color: #333333;
            font-size: 16px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
                "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
                "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            transition: all 100ms linear;
            opacity:1 !important;
            position:unset !important;
        }


        .radiogroup input:checked {
            background-image: linear-gradient(180deg, #fff, #fff);
            color:  #333333;
            border-radius: 5px;
            box-shadow: 0 1px 1px #0000002e;
            text-shadow: 0 1px 0px #79485f7a;
        }

        .radiogroup input:before {
            content: attr(label);
            display: inline-block;
            text-align: center;
            width: 100%;
        }

        .linePreloader{
            width:100%;
            height:2px;
            background:linear-gradient(to right,red,green,blue);
            background-color:#ccc;
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            /*margin:auto;*/
            border-radius:4px;
            background-size:20%;
            background-repeat:repeat-y;
            background-position:-25% 0;
            animation:scroll 1.2s ease-in-out infinite;
        }

        @@keyframes scroll{
            50%{background-size:80%}
            100%{background-position:125% 0;}
        }

        .fab-right{
            z-index: 1;
            position:fixed;
            width:60px;
            height:60px;
            bottom:30px;
            left:240px;
            border-radius:50px;
        }


    </style>

</head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- Top Bar -->
        @await Component.InvokeAsync("Navbar", new { pageName = @ViewData["PageName"] })
    <!-- #Top Bar -->
    <section>
        @await Component.InvokeAsync("Sidebar")
    </section>
    
    @RenderBody()
    
    @Html.AntiForgeryToken()
    <!-- Jquery Core Js -->
    <script src="~/assets/theme/plugins/jquery/jquery.min.js"></script> 
    <!-- Bootstrap Core Js -->
    <script src="~/assets/theme/plugins/bootstrap/js/bootstrap.js"></script>
    <!-- Slimscroll Plugin Js -->
    <script src="~/assets/theme/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="~/assets/theme/plugins/node-waves/waves.js"></script>
    <!-- Jquery CountTo Plugin Js -->
    <script src="~/assets/theme/plugins/jquery-countto/jquery.countTo.js" ></script>
    <!-- Custom Js -->
    <script src="~/assets/theme/js/admin.js" ></script>
    <script src="~/assets/theme/js/demo.js" ></script>
    <!-- Select Plugin Js -->
    <script src="~/assets/theme/plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="~/assets/theme/plugins/bootstrap-notify/bootstrap-notify.js"></script>
    @* <script src="~/assets/theme/plugins/momentjs/moment.js"></script> *@
    <script>
        
        // $('.block-header').remove();
        $('.block-header').hide();
        function showNotification(colorName, text, placementFrom, placementAlign, animateEnter, animateExit) {
            if (colorName === null || colorName === '') { colorName = 'bg-black'; }
            if (text === null || text === '') { text = 'Turning standard Bootstrap alerts'; }
            if (animateEnter === null || animateEnter === '') { animateEnter = 'animated fadeInDown'; }
            if (animateExit === null || animateExit === '') { animateExit = 'animated fadeOutUp'; }
            var allowDismiss = true;

            $.notify({
                message: text
            },
                {
                    type: colorName,
                    allow_dismiss: allowDismiss,
                    newest_on_top: true,
                    timer: 1000,
                    placement: {
                        from: placementFrom,
                        align: placementAlign
                    },
                    animate: {
                        enter: animateEnter,
                        exit: animateExit
                    },
                    template: '<div data-notify="container" class="bootstrap-notify-container alert alert-dismissible {0} ' + (allowDismiss ? "p-r-35" : "") + '" role="alert">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                    '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                    '</div>'
                });
        }
        
        function swalShowNotification(icon, title, loc = "", loc2 = "") {
            var ic = "";
            if (icon == "alert-success") {
                ic = "success";
            } else if (icon == "alert-danger") {
                ic = "danger";
            } else if (icon == "alert-warning") {
                ic = "warning";
            } else if (icon == "alert-info") {
                ic = "info";
            }
            Swal.fire(
                title,
                '',
                ic
            )
        }
        // loadNotification() ;
        function loadNotification() {
            var bs = $('#id_baseurl').val();
            $.ajax({
                url : bs+"notification/get",
                type : "POST",
                dataType: "json",
                beforeSend: function(){
                    // $('#id_loader').html('<div class="linePreloader"></div>');
                },
                success:function(data){
                    var html = "";
                    if(data.length > 0){
                        $.each(data, function(index, item){
                            var timest1 = moment();
                            var timest2 = moment(item.datetime);
                            var kettime = "";
                            if(timest1.diff(timest2, 'month')  > 0){
                                var _mm = timest1.diff(timest2, 'month');
                                kettime = _mm+" month ago";
                            }else if(timest1.diff(timest2, 'days') > 0){
                                var _mm = timest1.diff(timest2, 'days');
                                kettime = _mm+" days ago";
                            }else if(timest1.diff(timest2, 'minute') > 0){
                                var _mm = timest1.diff(timest2, 'minute');
                                kettime = _mm+" mins ago";
                                
                            }else if(timest1.diff(timest2, 'second') > 0){
                                var _mm = timest1.diff(timest2, 'seconds');
                                kettime = "recently";
                            }
                            console.log(timest1.diff(timest2, 'minute'));
                            html += '<li>\
                                        <a href="javascript:void(0);">\
                                            '+item.element+' \
                                            <div class="menu-info">\
                                                <h5>'+item.e_name+" "+item.body+'</h5>\
                                                <p>\
                                                    <i class="material-icons">access_time</i> '+kettime+'\
                                                </p>\
                                            </div>\
                                        </a>\
                                    </li>'
                            
                        })
                        $('#id_notif_menu').html(html);
                        $('#id_notif_menu_count').html(data.length);
                        // $.AdminBSB.navbar.activate();
                        $.AdminBSB.dropdownMenu.activate();
                    }
                },
                    // error: errorAjax
            })
        }
    </script>
    <script src="~/assets/theme/plugins/jquery-validation/jquery.validate.js" ></script>
    <script>
        $.ajaxSetup({
            headers: { 'XSRF-TOKEN': $('input:hidden[name="__RequestVerificationToken"]').val() }
        });
    </script>

    <!-- scripts section  -->
    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>