<!-- Right Sidebar -->
<aside id="rightsidebar" class="right-sidebar" style="width:500px;right:-500px">
    <ul class="nav nav-tabs tab-nav-right" role="tablist">
        <li role="presentation" class="active"><a href="#detail" data-toggle="tab">DETAIL</a></li>
        <li role="presentation" ><a href="#status" data-toggle="tab">STATUS</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="status">
            <div class="row clearfix nomarqin-left" >
                <div class="col-xs-3 align-right boxleft" >
                    <label for="">Status:</label>
                </div>
                <div class="col-xs-9 boxright">
                    <label for="" id="side_status">345678</label>
                </div>
            </div>
            <div class="row clearfix nomarqin-left" >
                <div class="col-xs-3 align-right boxleft" >
                    <label for="">Disable msg:</label>
                </div>
                <div class="col-xs-9 boxright">
                    <label for="" id="side_disable">345678</label>
                </div>
            </div>
            <div class="row clearfix nomarqin-left" >
                <div class="col-xs-3 align-right boxleft" >
                    <label for="">Sync time:</label>
                </div>
                <div class="col-xs-9 boxright">
                    <label for="" id="side_sync">345678</label>
                </div>
            </div>
            <div class="row clearfix nomarqin-left" >
                <div class="col-xs-3 align-right boxleft" >
                    <label for="">Hardware ID:</label>
                </div>
                <div class="col-xs-9 boxright">
                    <label for="" id="side_hardwareid">345678</label>
                </div>
            </div>
            
            <div class="row clearfix nomarqin-left" >
                <div class="col-xs-3 align-right boxleft" >
                    <label for="">Hardware info:</label>
                </div>
                <div class="col-xs-9 boxright">
                    <label for="" id="side_hardwareinfo"></label>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade in active in active" id="detail">
            <p>DETAIL</p>
            <div class="row clearfix nomarqin-left" >
                <div class="col-xs-3 align-right boxleft" >
                    <label for="">Paircode:</label>
                </div>
                <div class="col-xs-9 boxright">
                    <label for="" id="side_paircode"></label>
                </div>
            </div>
            <div class="row clearfix nomarqin-left" >
                <div class="col-xs-3 align-right boxleft" >
                    <label for="">Name:</label>
                </div>
                <div class="col-xs-9 boxright">
                    <label for="" id="side_name"></label>
                </div>
            </div>
            <div class="row clearfix nomarqin-left" >
                <div class="col-xs-3 align-right boxleft" >
                    <label for="">Description:</label>
                </div>
                <div class="col-xs-9 boxright">
                    <label for="" id="side_desc"></label>
                </div>
            </div>
            <div class="row clearfix nomarqin-left" >
                <div class="col-xs-3 align-right boxleft" >
                    <label for="">Type:</label>
                </div>
                <div class="col-xs-9 boxright">
                    <label for="" id="side_type"></label>
                </div>
            </div>
            <div class="row clearfix nomarqin-left " >
                <div class="col-xs-3 align-right boxleft" >
                    <label for="">Building:</label>
                </div>
                <div class="col-xs-9 boxright">
                    <label for="" id="side_building"></label>
                </div>
            </div>
            <div class="row clearfix nomarqin-left " >
                <div class="col-xs-3 align-right boxleft" >
                    <label for="">Floor:</label>
                </div>
                <div class="col-xs-9 boxright">
                    <label for="" id="side_floor"></label>
                </div>
            </div>
            <div class="row clearfix nomarqin-left generalarea" >
                <div class="col-xs-3 align-right boxleft" >
                    <label for="">Room:</label>
                </div>
                <div class="col-xs-9 boxright">
                    <label for="" id="side_room"></label>
                </div>
            </div>
            <div class="row clearfix nomarqin-left displayinformationarea" >
                <div class="col-xs-12 boxleft-all" >
                    <label for="">Room Select:</label>
                </div>
                @* <div class="col-xs-3 boxright" id="side_room_selected"> *@
                <div class="col-xs-6" id="side_room_selected">
                </div>
            </div>
        </div>
    </div>
</aside>
<!-- #END# Right Sidebar -->