<div class="modal fade" id="id_mdl_create" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="idmdlcrLabel">Save Display </h4>
            </div>
            <div class="modal-body " id="id_mdl_create_body">
                <form id="frm_create">
                    <div class="row clearfix">
                        <div class="col-xs-6">
                            <div class="row clearfix">
                                <div class="col-xs-6">
                                        <label for="">Pair Code <b style="color:red;">*</b></label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="hidden" name="id" id="id_crt_room_id">
                                                <input required 
                                                autocomplete="off" id="id_crt_displayserial" type="text" name="display_serial"  class="form-control" value="" placeholder="Pair Code Display">
                                            </div>
                                        </div>
                                </div>
                                <div class="col-xs-6">
                                        <label for="">Name <b style="color:red;">*</b></label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input 
                                                required 
                                                autocomplete="off" id="id_crt_name" type="text" name="name"  class="form-control" value="" placeholder="Name">
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-xs-12">
                                        <label for="">Description </label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input autocomplete="off" id="id_crt_description" type="text" name="description"  class="form-control" value="" placeholder="Description">
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-xs-6">
                                        <a href="javascript:void(0);" class="thumbnail">
                                        <img src="~/assets/file/display/pair/pair.jpeg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-xs-6">
                                    <label for="">Display Type <b style="color:red;">*</b></label>
                                    <div class="form-group">
                                                <select 
                                                required 
                                                title="Choose the type..."
                                                onchange="ocDisplayType('crt')" required=""  name="type" id="id_crt_type" class="form-control show-tick"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix generalarea" id="id_crt_single_room_area" >
                                <div class="col-xs-12">
                                    <label for="">Room</label>
                                    <div class="form-group">
                                        <select 
                                        required="" 
                                        data-live-search="true" name="room_id" id="id_crt_room" class="form-control show-tick"></select>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-xs-6">
                            <div class="row clearfix">
                                <div class="col-xs-12">
                                    <label for="">Background</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input required="" type="file" accept="image/x-png,image/gif,image/jpeg" name="background" id="id_crt_background" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix generalarea" >
                                <div class="col-xs-6">
                                    <label for="">Color Occupied</label>
                                    <div class="input-group colorpicker">
                                            <div class="form-line">
                                                <input id="id_crt_color_occupied" type="text" name="color_occupied"  class="form-control" value="#000000">
                                            </div>
                                            <span class="input-group-addon" >
                                                <i></i>
                                            </span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <label for="">Color Available</label>
                                        <div class="input-group colorpicker">
                                                <div class="form-line">
                                                    <input id="id_crt_color_available" type="text" name="color_available"  class="form-control" value="#000000">
                                                </div>
                                                <span class="input-group-addon" >
                                                    <i></i>
                                                </span>
                                        </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-xs-6">
                                    <label for="">Building <b style="color:red;">*</b></label>
                                    <div class="form-group">
                                        <select 
                                            required 
                                                title="Choose the building..."
                                                onchange="ocBuilding('crt')" required=""  name="building" id="id_crt_building" class="form-control show-tick">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <label for="">Floor <b style="color:red;">*</b></label>
                                    <div class="form-group">
                                        <select 
                                            required 
                                                title="Choose the floor..."
                                                name="floor" id="id_crt_floor" class="form-control show-tick">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix displayinformationarea" id="id_crt_multiple_room_area" style="display:none">
                                <div class="col-xs-12">
                                    <label for="">Room Select </label>
                                    <div class="form-group">
                                        <select 
                                            onchange="ocRoom('')"
                                            multiple 
                                            title="Choose the room..."
                                            data-selected-text-format="count > 2"
                                            data-live-search="true" 
                                            name="room_select[]" id="id_crt_select_room" 
                                            class="form-control show-tick"
                                        ></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix displayinformationarea">
                        <table class="table table-bordered" >
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Selected Room</th>
                                    <th style="width:100px;">Distance (Meter)</th>
                                    <th>Icon</th>
                                </tr>
                            </thead>
                            <tbody class="tbl-display-information">
                                
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <button type="submit" id="id_btn_crt_submit" class="btn btn-primary m-t-15 waves-effect" style="display: none;" >Save</button>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row clearfix">
                    <div class="col-xs-6 align-left">
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                    </div>
                    <div class="col-xs-6">
                        <button onclick="clickSubmit('id_btn_crt_submit')" type="button" class="btn btn-primary waves-effect " >SAVE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="id_mdl_sigange" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="id_mdl_sigangeLabel">Sigange Display </h4>
            </div>
            <div class="modal-body " id="id_mdl_sigange_body">

                <form id="frm_signage">
                    <label for="">Old Signage</label>
                    <div class="row clearfix">
                        <div class="col-xs-12">
                            <video width="320" id="id_si_old" height="240" controls>
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                        
                    <br>
                    <label for="">Insert Signage Video</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input required="" type="file" accept="video/mp4" name="signage" id="id_si_signage" >
                            <p class="small">Insert File Ext MP4. Max upload < 20MB </p>
                        </div>
                    </div>
                    <br>
                    <button type="submit" id="id_btn_si_submit" class="btn btn-primary m-t-15 waves-effect" style="display: none;" >Save</button>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row clearfix">
                    <div class="col-xs-6 align-left">
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                    </div>
                    <div class="col-xs-6">
                        <button onclick="clickSubmit('id_btn_si_submit')" type="button" class="btn btn-primary waves-effect " >SAVE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>