@page "/report-usage"
@model _1.PAMA.Razor.Views.Pages.Report.IndexModel
@{
    Layout = "_LayoutAdmin";
    ViewData["PageName"] = "Room Usage";
}

@section Styles {



    <link href="~/assets/theme/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="~/assets/external/daterangepicker/daterangepicker.css" rel="stylesheet">


}


<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Room Usage </h2>
        </div>
        <!-- DIV  -->
        <div class="row clearfix">

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box hover-expand-effect">
                    <div class="icon  bg-orange ">
                        <i class="material-icons">event</i>
                    </div>
                    <div class="content">
                        <div class="text"><?= strtoupper(date("d M Y"))?></div>
                        <div class="number count-to" id="time1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box  hover-expand-effect">
                    <div class="icon bg-light-green">
                        <i class="material-icons">toc</i>
                    </div>
                    <div class="content">
                        <div class="text">TOTAL MEETING</div>
                        <div class="number count-to" data-from="0" data-to="0" data-speed="1000" data-fresh-interval="20" id="id_count_total_meeting">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box  hover-expand-effect">
                    <div class="icon bg-light-green">
                        <i class="material-icons">toc</i>
                    </div>
                    <div class="content">
                        <div class="text">TOTAL ORGANIZER</div>
                        <div class="number count-to" data-from="0" data-to="0" data-speed="1000" data-fresh-interval="20" id="id_count_total_organizer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box  hover-expand-effect">
                    <div class="icon bg-light-green">
                        <i class="material-icons">toc</i>
                    </div>
                    <div class="content">
                        <div class="text">TOTAL ATTENDEES</div>
                        <div class="number count-to" data-from="0" data-to="0" data-speed="1000" data-fresh-interval="20" id="id_count_total_attendees">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <!-- <div class="header">
                        <div class="row clearfix">
                            <div class="col-xs-12 col-sm-6">
                                <h2>Room Report</h2>
                            </div>
                            <div class="col-xs-12 col-sm-6 align-right">

                            </div>
                        </div>
                    </div> -->
                    <div class="body">
                        <ul class="nav nav-tabs tab-nav-right" role="tablist">
                            <li onclick="changeTabs('roomusage')" role="presentation" class="active"><a href="#roomusage" data-toggle="tab">ROOM USAGE</a></li>
                            <li onclick="changeTabs('organizer')" role="presentation"><a href="#organizer" data-toggle="tab">ORGANIZER USAGE</a></li>
                            <li onclick="changeTabs('attendees')" role="presentation"><a href="#attendees" data-toggle="tab">ATTENDEES</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade  in active" id="roomusage">
                                @{
                                    var alocation = new List<dynamic>
                                    {
                                        new { id = "1", name = "Department 1" },
                                        new { id = "2", name = "Department 2" }
                                        // Add more items as needed
                                    };
                                    var modules = new { price = new { is_enabled = 1 } };
                                }

                                <div class="row clearfix">
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">date_range</i>
                                            </span>
                                            <div class="form-line">
                                                <input id="id_roomusage_daterange_search" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">my_location</i>
                                            </span>
                                            <select onchange="ocBuilding()" class="form-control" name="id_building" id="id_roomusage_building_search" data-live-search="true">
                                                <option value="">All Building</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">map</i>
                                            </span>
                                            <select onchange="ocRoom()" class="form-control" name="id_room" id="id_roomusage_room_search" data-live-search="true">
                                                <option value="">All Room</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <select class="form-control" name="status_invoice" id="id_roomusage_department_search" data-live-search="true">
                                            <option value=""><b>All Department</b></option>
                                            @foreach (var value in alocation)
                                            {
                                                <option value="@value.id">
                                                    @value.name
                                                </option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                        <button class="btn btn-success btn-block waves-effect" onclick="initRoom()"><b>Filter</b></button>
                                    </div>
                                </div>

                                <div class="row table-responsive responsive">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <table id="id_tbl_room" class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th><button class="btn btn-success" onclick="alertExportToAll('excell')">Export to Excel</button></th>
                                                    <th>ID</th>
                                                    <th>Title</th>
                                                    <th>Meeting Time</th>
                                                    <th>Room</th>
                                                    <!-- <th>Room Address</th> -->
                                                    <th>Department</th>
                                                    <th>Attendees</th>
                                                    <th>Duration</th>
                                                    @if (modules.price.is_enabled == 1)
                                                    {
                                                        <th>Rent Cost</th>
                                                        <th>Status Invoicing</th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade " id="organizer">

                                @{
                                    var modules1 = new { room_adv = new { is_enabled = 1 } };
                                }

                                <div class="row clearfix">
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">date_range</i>
                                            </span>
                                            <div class="form-line">
                                                <input id="id_organizer_daterange_search" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">people</i>
                                            </span>
                                            <select class="form-control" id="id_organizer_employee_search" data-live-search="true">
                                                <option value="">All Employee</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">my_location</i>
                                            </span>
                                            <select onchange="ocOrganizerBuilding()" class="form-control" id="id_organizer_building_search" data-live-search="true">
                                                <option value="">All Building</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">map</i>
                                            </span>
                                            <select onchange="ocRoom()" class="form-control" id="id_organizer_room_search" data-live-search="true">
                                                <option value="">All Room</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                        <button class="btn btn-success waves-effect" onclick="filterOrganizer()"><b>Filter</b></button>
                                        <button type="button" class="btn btn-info btn-sm waves-effect" onclick="alertExportToOrganizerToExcell('excell')">
                                            <i class="material-icons" style="font-size:16px;">print</i>
                                        </button>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                        <!-- <button class="btn btn-success " onclick="alertExportToAll('excell')">Export to Excell</button> -->
                                    </div>
                                </div>

                                <div class="row table-responsive responsive">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <table id="id_tbl_organizer" class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <!-- <th></th> -->
                                                    <th>Name</th>
                                                    <th>Company & Department</th>
                                                    <th>Meeting</th>
                                                    <th>Reschedule</th>
                                                    <th>Cancel</th>
                                                    <th>Total Duration</th>
                                                    <th>Attendees</th>
                                                    @if (modules1.room_adv.is_enabled == 1)
                                                    {
                                                        <th>Attendees Check-in</th>
                                                        <th>Auto Release</th>
                                                        <th>Approve</th>
                                                        <th>Reject</th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="attendees">

                                @{
                                    var modules2 = new { room_adv = new { is_enabled = 1 } };
                                }

                                <div class="row clearfix">
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">date_range</i>
                                            </span>
                                            <div class="form-line">
                                                <input id="id_attendees_daterange_search" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">people</i>
                                            </span>
                                            <select class="form-control" id="id_attendees_employee_search" data-live-search="true">
                                                <option value="">All Employee</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">my_location</i>
                                            </span>
                                            <select onchange="ocAttendeesBuilding()" class="form-control" id="id_attendees_building_search" data-live-search="true">
                                                <option value="">All Building</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">map</i>
                                            </span>
                                            <select onchange="ocRoom()" class="form-control" id="id_attendees_room_search" data-live-search="true">
                                                <option value="">All Room</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                        <button class="btn btn-success waves-effect" onclick="filterAttendees()"><b>Filter</b></button>
                                        <button type="button" class="btn btn-info btn-sm waves-effect" onclick="alertExportToAttendeesToExcell('excell')">
                                            <i class="material-icons" style="font-size:16px;">print</i>
                                        </button>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                        <!-- <button class="btn btn-success " onclick="alertExportToAll('excell')">Export to Excell</button> -->
                                    </div>
                                </div>

                                <div class="row table-responsive responsive">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <table id="id_tbl_attendees" class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <!-- <th></th> -->
                                                    <th>Name</th>
                                                    <th>Company & Department</th>
                                                    <th>Meeting</th>
                                                    <th>Present</th>
                                                    <th>Absent</th>
                                                    <th>Total Duration</th>
                                                    @if (modules2.room_adv.is_enabled == 1)
                                                    {
                                                        <th>Attendees Check-in</th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="settings">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
 @* <textarea id="id_modules" style="display: none;"> {"automation":{"module_id":"7","module_text":"module_automation","name":"Module Automation","module_serial":null,"is_enabled":"0"},"price":{"module_id":"14","module_text":"module_price","name":"Module Price","module_serial":null,"is_enabled":"1"},"room_adv":{"module_id":"32","module_text":"module_room_advance","name":"Module Room","module_serial":null,"is_enabled":"1"},"int_365":{"module_id":"30","module_text":"module_int_365","name":"Module Integration 365","module_serial":null,"is_enabled":"1"},"int_google":{"module_id":"29","module_text":"module_int_google","name":"Module Integration Google","module_serial":null,"is_enabled":"0"},"invoice":{"module_id":"6","module_text":"module_invoice","name":"Module Invoice","module_serial":null,"is_enabled":"0"}}</textarea> *@
<input type="hidden" id="id_default_timezone" value="Asia/Jakarta">
<textarea id="id_modules" style="display: none;"></textarea>
<textarea id="id_statusInvoice" style="display: none;"></textarea>
<textarea id="id_building" style="display: none;"></textarea>
<textarea id="id_room" style="display: none;"></textarea>
<textarea id="id_employee" style="display: none;"></textarea>
@section Scripts {
    
    
    <script src="~/assets/theme/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="~/assets/theme/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="~/assets/theme/plugins/sweatalert2/sweetalert2.all.min.js"></script>
    <script src="~/assets/theme/plugins/momentjs/moment.js"></script>
    <script src="~/assets/theme/plugins/momentjs/moment-timezone.js"></script>
    <script src="~/assets/theme/plugins/momentjs/moment-timezone-data.min.js"></script>
    <script src="~/assets/external/daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/external/numeral/numeral.min.js"></script>
    <script src="~/assets/external/numeral/locale.id.js"></script>
    <script src="~/assets/external/sheetjs/xlsx.full.min.js"></script>


    <script>
        // var localtimezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
        var globalStatusInvoice = [];
        $(function(){
            getOnLoadModules()
            // init();
            // getAutomation();
            // getFacility();
        }) 
        function intrTime(){
            setInterval(
                function(){
                var tm = moment().format('hh:mm A');
                $('#time1').html(tm);
                },500
            );
        }


        var localtimezone = moment.tz.guess();
        var gBuilding;
        var gRoom;
        var gEmployee;
        var initialTab = "roomusage";
        var gGlobalTabs = "roomusage";
        function changeTabs(argument) {
            console.log(argument)
            if (gGlobalTabs != argument) {
                gGlobalTabs = argument;
            }
        }


        function getModule(){
            var modules = $('#id_modules').val();
            return JSON.parse(modules)
        }
        function initRangeDate() {
            // console.log(`#id_${gGlobalTabs}_daterange_search`)
            $(`.input-group #id_${gGlobalTabs}_daterange_search`).daterangepicker({
                "showDropdowns": true,
                "showWeekNumbers": true,
                "showISOWeekNumbers": true,
                "opens": "center",
                // "drops": "up",
                "startDate": moment().subtract(29, 'days').format('MM/DD/YYYY'),
                "endDate": moment().format('MM/DD/YYYY'),
                // "autoApply": true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                    'Last Year': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
                },
                "alwaysShowCalendars": true,
            }, function(start, end, label) {
                // initRoom(start.format('YYYY-MM-DD'), end.format('YYYY-MM-DD'))
            });
        }
        function initBuilding(){
            var htmlBuilding = '<option selected value="">All Building</option>';
            var htmlRoom = '<option selected value="">All Room</option>';
            for(var x in gBuilding){
                htmlBuilding += '<option value="'+gBuilding[x].id+'">'+gBuilding[x].name+'</option>';
            }
            for(var x in gRoom){
                htmlRoom += '<option value="'+gRoom[x].radid+'">'+gRoom[x].name+'</option>';
            }
            $(`#id_${gGlobalTabs}_building_search`).html(htmlBuilding);
            $(`#id_${gGlobalTabs}_room_search`).html(htmlRoom);
            select_enable();
        }
        function initEmployee(){

            var html = '<option selected value="">All Employee</option>';
            var s = gEmployee.length == 1?"selected":"";
            for(var x in gEmployee){
                html += `<option ${s} value="${gEmployee[x].id}">${gEmployee[x].name}</option>`;
            }
            $(`#id_${gGlobalTabs}_employee_search`).html(html);
            select_enable();
        }
        
        function getTimeFromMins(mins) {
            if (mins >= 24 * 60 || mins < 0) {
                throw new RangeError("Valid input should be greater than or equal to 0 and less than 1440.");
            }
            var h = mins / 60 | 0,
                m = mins % 60 | 0;
            var dd = moment.utc().hours(h).minutes(m).format("HH:mm");
            spDd = dd.split(":");
            var frm = "";
            if(spDd[0] != "00" ){
                frm += (spDd[0] -0)+" hour ";
            }
            if(spDd[1] != "00" ){
                frm += (spDd[1] -0)+" minute ";
            }
            return frm;
        }

        function getOnLoadModules(){
            allModules = [];
            $.ajax({
                url: "api/Room/GetOnLoadModules?pagename=Room%20Usage",
                type : "GET",
                dataType: "json",
                beforeSend: function(){
                    $('#id_loader').html('<div class="linePreloader"></div>');
                },
                success:function(data){
                    if(data.status == "success"){
                        allModules = data.collection;
                        gBuilding = JSON.parse(JSON.stringify(allModules.building))
                        gEmployee = JSON.parse(JSON.stringify(allModules.user_permission))
                        $("#id_modules").html(JSON.stringify(allModules.modules))
                        $("#id_building").html(JSON.stringify(allModules.building))
                        $("#id_employee").html(JSON.stringify(allModules.user_permission))


                        intrTime()
                        initGlobalData()
                        initialLoad();
                    }else{
                        var msg = "Your session is expired, login again !!!";
                        showNotification('alert-danger', msg,'top','center')
                    }
                    $('#id_loader').html('');
                },
                error: errorAjax
            })

            globalStatus2 = [];
            $.ajax({
                url: "api/Room/GetRoomData",
                type: "GET",
                dataType: "json",
                beforeSend: function () {
                    $('#id_loader').html('<div class="linePreloader"></div>');
                },
                success: function (data) {
                    if (data.status == "success") {
                        globalStatus2 = data.collection;
                        $("#id_room").html(JSON.stringify(globalStatus2))
                    } else {
                        var msg = "Your session is expired, login again !!!";
                        showNotification('alert-danger', msg, 'top', 'center')
                    }
                    $('#id_loader').html('');
                },
                error: errorAjax
            })

            globalStatus3 = [];
            $.ajax({
                url: "api/Room/GetInvoiceStatus",
                type: "GET",
                dataType: "json",
                beforeSend: function () {
                    $('#id_loader').html('<div class="linePreloader"></div>');
                },
                success: function (data) {
                    if (data.status == "success") {
                        globalStatus3 = data.collection;
                        $("#id_statusInvoice").html(JSON.stringify(globalStatus3))
                    } else {
                        var msg = "Your session is expired, login again !!!";
                        showNotification('alert-danger', msg, 'top', 'center')
                    }
                    $('#id_loader').html('');
                },
                error: errorAjax
            })
        }


        function initGlobalData() {
            initBuilding();
            initEmployee();
            initRangeDate();

        }
        function initialLoad() {
            gGlobalTabs = "roomusage";
            initGlobalData()
            initRoom();
            gGlobalTabs = "organizer";
            initGlobalData();
            filterOrganizer()
            gGlobalTabs = "attendees";
            initGlobalData();
            filterAttendees()

            gGlobalTabs = initialTab;
            initGlobalData();

        }

        function initTable(selector) {
            selector.DataTable();
        }

        function clearTable(selector) {
            if(selector != null){
                selector.DataTable().destroy();
            }
        }

        function select_enable() {
            $('select').selectpicker("refresh");
            $('select').selectpicker("initialize");
        }

        function enable_datetimepicker() {
            $('.timepicker').bootstrapMaterialDatePicker({
                format: 'HH:mm',
                clearButton: true,
                date: false
            });
        }

        function loadingg(title = "", body = "") {
            Swal.fire({
                title: title,
                html: body,
                allowOutsideClick: false,
                onBeforeOpen: () => {
                    Swal.showLoading()
                },
            });
        }

        function errorAjax(xhr, ajaxOptions, thrownError){
            $('#id_loader').html('');
            if(ajaxOptions == "parsererror"){
                var msg = "Status Code 500, Error Server bad parsing";
                showNotification('alert-danger', msg,'bottom','left')
            }else{
                var msg ="Status Code "+ xhr.status + " Please check your connection !!!";
                showNotification('alert-danger', msg,'bottom','left')
            }
        }
    </script>
 
    <script src="~/assets/process/report/room.room_usage.js"></script>
    <script src="~/assets/process/report/room.organizer.js"></script>
    <script src="~/assets/process/report/room.attendees.js"></script>
}